body {
  overflow-x: hidden;
}

.navbar {
  opacity: 0.95;
  color: #000;
  background: rgba(0, 0, 0, 0.75);
}
.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
}

.carousel-item {
  height: 500px;
}

.carousel-image-1 {
  background: /* top, transparent black, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)
    ),
    url('../img/denis-degioanni-510596-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 500px;
}

#resume {
  position: relative;
  min-height: 200px;
  background: /* top, transparent black, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)
    ),
    url('../img/dino-reichmuth-147745-unsplash.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  background-size: auto;
  color: #fff;
}

#project-heading {
  position: relative;
  min-height: 200px;
  background: /* top, transparent black, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../img/joshua-earle-183442-unsplash.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  background-size: auto;

  color: #fff;
}

#project-heading a {
  color: #fff;
}

#page-header {
  height: 200px;
  background: url('../img/image1.jpg');
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

#resume-card1 {
  position: relative;
  min-height: 200px;
  background: /* top, transparent black, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../img/berk3.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto;

  text-align: center;
  color: #fff;
}

.about-img {
  margin-top: -50px;
}

#faq .card {
  border: #444;
}

#faq a {
  color: #fff;
  text-decoration: none;
}

#faq .card-body,
#faq .card-header {
  background: #333;
}

#main-footer {
  background: #000;
  color: #fff;
}

#hover :hover {
  background: #008cba;
  transition: 0.25s ease;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.img :hover {
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}
.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}
.container2:hover .overlay2 {
  opacity: 1;
}
.text2 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
